{% extends 'base.html' %} 
{% load i18n %} {% load crispy_forms_tags %} 

{% block title %} {% trans "Password Reset | Fitster" %} {% endblock title %} 

{% block content %}
<main class="pt-120">
    <div class="support_area pt-120  pb-120">
       <div class="container">
          <div class="row d-flex justify-content-center">
             <div class="col-lg-8 col-md-10">
                <div class="support_info-two mb-35">
                   <div class="mb-35">
                    <h1 class="display-4 my-3">{% trans "Password Reset" %}</h1>
                    <p>
                    {% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
                    </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </main> 
 {% endblock %}