{% load static %}
<footer>
  <div class="footer-area bg-dark">

    <div class="footer-content pt-80 pb-45">
      <div class="container custome-container">
        <div class="row g-0">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget fotter-col2 wow fadeInUp mb-40" data-wow-delay=".3s">
              <div class="footer-logo mb-25">
                <a href="{% url 'products:index' %}"><img src="{% static 'img/fitster.png' %}" alt="fitster-logo"></a>
              </div>
              <p class="pb-30">
                Fister-fitness center provides best fitness classes with best trainers. Our main goal is to
                provide best fitness plans to our customers with 100% satisfaction rate. We also sell top quality
                fitness and sports products.
              </p>
              <div class="footer-social">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp mb-40" data-wow-delay="1.3s">
              <h5 class="fotter_widget-title mb-35">Quick Links</h5>
              <div class="footer__blog">
                <ul class="mb-25 pt-5">
                  <li>
                    <div class="footer__blog-sm d-flex align-items-center">
                      <div class="footer__blog-sm-thumb mr-25">
                        <h2 class="text-secondary" style="font-family:'roboto';">
                          <a href="{% url 'products:store' %}">Fitster Shop</a>
                        </h2>
                        <h3 class="text-secondary" style="font-family:'roboto';">
                          <a href="{% url 'classes:class_list' %}">Fitness Classes</a>
                        </h3>
                        <h4 class="text-secondary" style="font-family:'roboto';">
                          <a href="{% url 'classes:team' %}">Fitness Trainers</a>
                        </h4>
                        <h5 class="text-secondary" style="font-family:'roboto';">
                          <a href="{% url 'classes:pricing' %}">Fitness Plans</a>
                        </h5>
                        <h6 class="text-secondary" style="font-family:'roboto';">
                          <a href="{% url 'blog:post_list' %}">Community Blog</a>
                        </h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp mb-40 ml-40" data-wow-delay=".9s">
              <h5 class="fotter_widget-title mb-35">Contact Info</h5>
              <div class="footer__info">
                <ul>
                  <li class="d-flex align-items-start pt-5 mb-20">
                    <div class="footer__info-icon mr-20">
                      <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="footer__info-text">
                      <a href="#">25/7, Flen <br> Sweden</a>
                    </div>
                  </li>
                  <li class="d-flex align-items-start mb-20">
                    <div class="footer__info-icon mr-20">
                      <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="footer__info-text">
                      <span>Email:</span>
                      <a href="mailto:info.fitster@gmail.com">info.fitster@gmail.com</a>
                    </div>
                  </li>
                  <li class="d-flex align-items-start mb-20">
                    <div class="footer__info-icon mr-20">
                      <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="footer__info-text">
                      <span>Phone:</span>
                      <a href="tel:+01-234-567-8901">01-234-567-8901</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right-area">
      <div class="container custome-container">
        <div class="copyright-info">
          <div class="owner_name">
            <p>Copyright <a href="#">Fitster</a> ©2022. All Rights Reserved</p>
          </div>
          <div class="copy-right_useful_link">
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>