{% load static %}
<header class="top-nav">
  <div class="top-address d-none d-lg-block" style="background:#141d3640">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-7 col-xl-5 col-lg-4 col-md-3">
          <div class="top-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/fitster.png' %}" alt="fitster-logo"></a>
          </div>
        </div>
        <div class="col-xxl-5 col-xl-7 col-lg-8 col-md-9">
        {% with request.resolver_match.url_name as view_url %}
          <div class="topbar-info">
            <div class="contact-item">
              <i class="flaticon-pin"></i>
              <div class="content">
                {% if view_url == "index" or view_url == "home" %}
                <p style="color: #31cac8;">Our Location</p>
                <span style="color:#fff">25/7 Flen, Sweden</span>
                {% else %}
                <p>Our Location</p>
                <span>25/7 Flen, Sweden</span>
                {% endif %}
              </div>
            </div>
            <div class="contact-item">
              <i class="flaticon-email"></i>
              <div class="content">
              {% if view_url == "index" or view_url == "home" %}
              <p style="color: #31cac8;">Online Support</p>
              {% else %}
                <p>Online Support</p>
              {% endif %}
                <a href="mailto:info.fitster@gmail.com">info.fitster@gmail.com</a>
              </div>
            </div>
            <div class="contact-item">
              <i class="flaticon-contact"></i>
              <div class="content">
                {% if view_url == "index" or view_url == "home" %}
                <p style="color: #31cac8;">Free Contact</p>
                {% else %}
                <p>Free Contact</p>
                {% endif %}
                <a href="tel:01-234-567-8901">01-234-567-8901</a>
              </div>
            </div>
          </div>
        {% endwith %}
        </div>
      </div>
    </div>
  </div>
  <div class="menu-area" id="header-sticky">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12">
          <div class="menu-content">
            <div class="top-logo d-lg-none">
              <a href="{% url 'index' %}"><img src="{% static 'img/fitster.png' %}" alt="fitster-logo"></a>
            </div>
            <div class="main-menu">
              <nav id="mobile-menu">
                {% with request.resolver_match.url_name as view_url %}
                <ul>
                  <li>
                    <a href="{% url 'index' %}" {% if view_url == "index" or view_url == "home" %}class="active"{% endif %}>
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'products:store' %}" {% if view_url == "store" %}class="active"{% endif %}>
                      Shop
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'classes:class_list' %}" {% if view_url == "class_list" %}class="active"{% endif %}>
                      Classes
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'classes:team' %}" {% if view_url == "team" %}class="active"{% endif %}>
                      Team
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'classes:pricing' %}" {% if view_url == "pricing" %}class="active"{% endif %}>
                      Pricing 
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'blog:post_list' %}" {% if view_url == "blog:post_list" %}class="active"{% endif %}>
                      Blog
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'contact_us' %}" {% if view_url == "contact_us" %}class="active"{% endif %}>
                      Contact
                    </a>
                  </li>
                  {% endwith %}
                </ul>
              </nav>
            </div>
            <div class="side-menu-icon d-lg-none text-end">
              <a href="javascript:void(0)" class="info-toggle-btn f-right sidebar-toggle-btn"><i
                class="fal fa-bars"></i></a>
            </div>
            <div class="header-action-btn d-none d-lg-block mr-70">
              <div class="main-menu">
                <nav id="mobile-menu">
                  <ul>
                    <a href="{% url 'wishlist:summary' %}">
                      <i class="fal fa-heart"></i>
                      {% with request.user.wishlist as wishlist %}
                        {% if wishlist %}
                          <span id="wishlist_product_count" class="wishlist-count"
                            hx-get="{% url 'wishlist:get_count' %}" hx-trigger="update from:body"
                            hx-swap="outerHTML">
                            {{ wishlist.get_wishlist_items_count }}
                          </span>
                        {% else %}
                          <span id="wishlist_product_count">0</span>
                        {% endif %}
                      {% endwith %}
                    </a>
                    <a href="{% url 'cart:summary' %}"><i class="fas fa-shopping-cart"></i>
                      {% with request.user.cart as cart %}
                        {% if cart %}
                          <span id="cart_items_counts" class="cart-count"
                            hx-get="{% url 'wishlist:get_cart_count' %}"
                            hx-trigger="update_cart from:body" hx-swap="outerHTML">
                            {{ cart.get_cart_items_count }}
                          </span>
                        {% else %}
                          <span id="cart_items_counts">0</span>
                        {% endif %}
                      {% endwith %}
                    </a>
                    <li>
                      <a href="#" class="main-menu"><i class="fas fa-user-circle" style="font-size: 20px;"></i></a>
                      <ul class="sub-menu">
                        {% if user.is_authenticated %}
                          <li><a href="{% url 'admin_dashboard:active_orders' %}">Admin
                            Dashboard</a></li>
                          <li><a href="{% url 'users:dashboard' %}">My
                            Profile</a></li>
                          <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                          <li><a href="{% url 'account_login' %}">Login</a></li>
                          <li><a href="{% url 'account_signup' %}">Signup</a></li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="sidebar__area">
  <div class="sidebar__wrapper">
    <div class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn">
        <i class="fal fa-times"></i>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="sidebar__logo mb-40">
        <a href="#">
          <img src="{% static 'img/fitster.png' %}" alt="fitster-logo">
        </a>
      </div>
      <div class="mobile-menu fix"></div>
      <div class="sidebar__contact mt-30 mb-20">
        <h4>Contact Info</h4>
        <ul>
          <li class="d-flex align-items-center">
            <div class="sidebar__contact-icon mr-15">
              <i class="fal fa-map-marker-alt"></i>
            </div>
            <div class="sidebar__contact-text">
              <a href="#">25/7 Flen, Sweden</a>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="sidebar__contact-icon mr-15">
              <i class="far fa-phone"></i>
            </div>
            <div class="sidebar__contact-text">
              <a href="tel:+01-234-567-8901">01-234-567-8901</a>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="sidebar__contact-icon mr-15">
              <i class="fal fa-envelope"></i>
            </div>
            <div class="sidebar__contact-text">
              <a href="mailto:info.fitster@gmail.com">info.fitster@gmail.com</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="sidebar__social">
        <ul>
          <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="body-overlay"></div>