<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class='alert alert-{% if message.tags == "error" %}danger {% else %}{{ message.tags }}{% endif %} alert-dismissible fade show'
        role="alert"
        style="display: flex; align-items: center; justify-content: space-between"
      >
        {{ message | safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"
            style="cursor: pointer; font-size:1.55em; line-height: 0.1"
          >&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
</div>