{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard | {{user.username}}'s profile{% endblock title %}

{% block content %}
  <main class="pt-120  mx-2" id="remove_padding_sm">
    <div class="container pt-120 pb-100">
      <div class="row">
        <div class="col-md-3 ">
          <div class="list-group ">
            <a  href="#"
              id="dashboard_link"
              class="list-group-item list-group-item-action active"
              hx-get="{% url 'users:dashboard' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
            >
              Dashboard
            </a>
            <a  href="#"
              id="orders_link"
              hx-get="{% url 'users:orders' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Orders
            </a>
            <a  href="#"
              id="reviews_link"
              hx-get="{% url 'users:reviews' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Reviews
            </a>
            <a  href="#"
              id="subscription_link"
              hx-get="{% url 'users:subscription' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Subscription
            </a>
            <a  href="#"
              id="address_link"
              hx-get="{% url 'users:address' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              Manage Addresses
            </a>
            <a  href="#"
              id="settings_link"
              hx-get="{% url 'users:settings' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              Settings
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div id="profile_dashboard_body" class="card-body">
              <div class="row">
                <div class="text-center htmx-indicator">
                  <img src="{% static 'img/loader.svg' %}" alt="searching...." height="120px">
                </div>
                <div class="col-md-12">
                  {% include "_includes/message.html" %}
                  <div class="d-flex justify-content-between align-items-center">
                    <h4>My Profile</h4>
                    <a  href="#" class="text-dark mr-20"
                      hx-target="#profile_dashboard_body"
                      hx-get="{% url 'users:update_profile' %}"
                      hx-indicator=".htmx-indicator"
                      hx-swap="outerHTML"
                    >
                      <i class="fas fa-pen"></i>
                    </a>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <strong class="text-dark">Name :</strong> {{ user.profile.name }}
                  </p>
                  <p>
                    <strong class="text-dark">Phone: </strong> {{ user.profile.phone }}
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="text-dark">Username :</strong> {{ user.username }}
                  </p>
                  <p>
                    <strong class="text-dark">Contact Email :</strong> {{ user.email }}
                  </p>
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-md-12">
                  <h4>My Subscription</h4>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {% if subscription %}
                    <p>You have subscribed to our
                      <strong style="color:#b7ad0b">
                        <i class="fas fa-dumbbell"></i> {{ subscription.fitness_plan.name }}
                      </strong>
                    </p>
                    <p>
                      <strong class="text-dark"> Plan price :</strong>
                      USD${{ subscription.fitness_plan.price }}/month
                    </p>
                    <p class="my-0 py-0"> <strong class="text-dark">Subscription date :</strong>
                      <strong>{{ subscription.created_at|date:"d M, Y" }}</strong>
                    </p>
                  {% else %}
                    <p>You are not subscribed to any of our plan.</p>
                    <p>To join our community and fitness community you can view our
                      <strong><a href="{% url 'classes:pricing' %}" class="text-info">plan</a> </strong>
                      and subscribe.
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}