{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard | Orders{% endblock title %}

{% block content %}
  <main class="pt-120  mx-2">
    <div class="container pt-120 pb-100">
      <div class="row">
        <div class="col-md-3 ">
          <div class="list-group ">
            <a  href="#"
              id="dashboard_link"
              class="list-group-item list-group-item-action"
              hx-get="{% url 'users:dashboard' %}"
              hx-target="#profile_dashboard_body"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              hx-swap="outerHTML swap:.3s"
            >
              Dashboard
            </a>
            <a  href="#"
              id="orders_link"
              hx-get="{% url 'users:orders' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-class="active"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action active"
            >
              My Orders
            </a>
            <a  href="#"
              hx-get="{% url 'users:reviews' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Reviews
            </a>
            <a  href="#"
              id="subscription_link"
              hx-get="{% url 'users:subscription' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Subscription
            </a>
            <a  href="#"
              id="address_link"
              hx-get="{% url 'users:address' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              Manage Addresses
            </a>
            <a  href="#"
              id="settings_link"
              hx-get="{% url 'users:settings' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              Settings
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div id="profile_dashboard_body" class="card-body">
              <div class="row">
                <div class="text-center htmx-indicator">
                  <img src="{% static 'img/loader.svg' %}" alt="searching...." height="120px">
                </div>
                <div class="col-md-12">
                  {% include "_includes/message.html" %}
                  <h4>My Orders</h4>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr class="text-center">
                      <th>Order ID</th>
                      <th>Quantity</th>
                      <th>Order Time</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    {% if orders %}
                      {% for order in orders %}
                        <tr style="font-family:'Roboto'" class="text-center">
                          <td>{{ order.order_id }}</td>
                          <td>{{ order.order_items.count }}</td>
                          <td>{{ order.order_time|date:"d M, Y" }}</td>
                          <td>
                            {% if order.order_status == 0 %}
                              <span class="badge badge-pill bg-success text-white">
                                {{ order.get_order_status_display }}
                              </span>
                            {% elif order.order_status == 1 %}
                              <span class="badge badge-pill bg-warning text-white">
                                {{ order.get_order_status_display }}
                              </span>
                            {% elif order.order_status == 2 %}
                              <span class="badge badge-pill bg-primary text-white">
                                {{ order.get_order_status_display }}
                              </span>
                            {% elif order.order_status == 3 %}
                              <span class="badge badge-pill bg-danger text-white">
                                {{ order.get_order_status_display }}
                              </span>
                            {% endif %}
                          </td>
                          <td>
                            {% if order.order_status == 2 %}
                              <button
                                class="btn btn-danger btn-sm"
                                type="button"
                                data-toggle="modal"
                                data-target="#RequestCancel"
                              >
                                Request Return
                              </button>
                            {% else %}
                              <button
                                class="btn btn-danger btn-sm"
                                type="button"
                                data-toggle="modal"
                                data-target="#RequestCancel"
                              >
                                Request Cancel
                              </button>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5" class="text-center">
                          <p class="text-danger"> No orders found</p>
                        </td>
                      </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% if orders %}
      <div class="modal fade" id="RequestCancel" tabindex="-1" role="dialog" aria-labelledby="RequestCancelTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title display-6" id="exampleModalLongTitle">Are you sure to cancel/return the order?
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <p>
                  <span aria-hidden="true">&times;</span>
                </p>
              </button>
            </div>
            <form action="{% url 'users:cancellation_request' %}" method="post">
              {% csrf_token %}
              <div class="modal-body">
                <p>
                  Once you made it, you will not be able to recover it.
                </p>
                <p>
                  <select name="cancel_option" id="option" class="form-control my-2">
                    <option value="1" selected>Cancel</option>
                    <option value="2">Return</option>
                  </select>
                  <input type="text" class="form-control my-3" name="order_id" id="order_id" placeholder="Order ID">
                  <textarea type="text" name="cancel_reason" id="cancel_reason" placeholder="Reason for cancellation"
                    class="form-control" rows="3"></textarea>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success px-4" data-dismiss="modal">Close</button>
                <button type="submin" class="btn btn-danger mx-3">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}