{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard | Settings{% endblock title %}

{% block content %}
  <main class="pt-120  mx-2">
    <div class="container pt-120 pb-100">
      <div class="row">
        <div class="col-md-3 ">
          <div class="list-group ">
            <a  href="#"
              id="dashboard_link"
              class="list-group-item list-group-item-action"
              hx-get="{% url 'users:dashboard' %}"
              hx-target="#profile_dashboard_body"
              hx-push-url="true"
              hx-swap="outerHTML swap:.3s"
              hx-indicator=".htmx-indicator"
            >
              Dashboard
            </a>
            <a  href="#"
              id="orders_link"
              hx-get="{% url 'users:orders' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-class="active"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Orders
            </a>
            <a  href="#"
              hx-get="{% url 'users:reviews' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Reviews
            </a>
            <a  href="#"
              id="subscription_link"
              hx-get="{% url 'users:subscription' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              My Subscription
            </a>
            <a  href="#"
              id="address_link"
              hx-get="{% url 'users:address' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action"
            >
              Manage Addresses
            </a>
            <a  href="#"
              id="settings_link"
              hx-get="{% url 'users:settings' %}"
              hx-target="#profile_dashboard_body"
              hx-swap="outerHTML swap:.3s"
              hx-push-url="true"
              hx-indicator=".htmx-indicator"
              class="list-group-item list-group-item-action active"
            >
              Settings
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div id="profile_dashboard_body" class="card-body">
              <div class="row">
                <div class="text-center htmx-indicator">
                  <img src="{% static 'img/loader.svg' %}" alt="searching...." height="120px">
                </div>
                <div class="col-md-12">
                  <h4>Manage Account</h4>
                  <hr>
                </div>
              </div>
              <div class="row">
                <p>
                  <a  href="#"
                    class="btn btn-warning"
                    hx-target="#profile_dashboard_body"
                    hx-get="{% url 'users:update_profile' %}"
                    hx-swap="outerHTML"
                    hx-indicator=".htmx-indicator"
                    hx-push-url="true"
                  >
                    Update Profile
                  </a>
                  <a href="{% url 'account_reset_password' %}" class="btn btn-dark ml-10">Change Password</a>
                </p>
              </div>
              <div class="row mt-20">
                <div class="col-md-12">
                  <h4>Manage Subscription</h4>
                  <hr>
                </div>
              </div>
              <div class="row">
                <p>
                  {% if subscription %}
                    <button
                      class="btn btn-danger"
                      type="button"
                      data-toggle="modal"
                      data-target="#CancelSubscription"
                    >
                      Cancel Subscription
                    </button>
                  {% else %}
                    You are not subscribed to any plan.
                    <a href="{% url 'classes:pricing' %}" class="btn btn-sm btn-outline-danger">Subscribe Now</a>
                  {% endif %}
                </p>
              </div>
            </div>
            {% if subscription %}
              <!-- Modal -->
              <div class="modal fade" id="CancelSubscription" tabindex="-1" role="dialog"
                aria-labelledby="CancelSubscriptionTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title display-6" id="exampleModalLongTitle">Do you sure to cancel
                        the subscription?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <p>
                          <span aria-hidden="true">&times;</span>
                        </p>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        You will not be able to access the fitness center after you cancel it.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success px-4"
                        data-dismiss="modal">Close</button>
                      <a href="{% url 'users:cancel_subscription' key=subscription.stripe_sub_key %}"
                        class="btn btn-danger f-right mr-20">
                        Cancel Subscription
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

