<div id="profile_dashboard_body" class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Billing Address <small class="text-secondary">(default address)</small></h4>
                <a  href="#" 
                    class="text-info mr-20" 
                    hx-target="#profile_dashboard_body"
                    hx-get="{% url 'users:update_address' %}" 
                    hx-swap="outerHTML swap:.2s"
                >
                    <i class="fas fa-pen"></i> Update
                </a>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        {% if address %}
        <p>
        <strong class="text-dark border-bottom">Personal Info</strong> <br>
           {{ address.name }}<br>
           {{ address.phone }} <br>
           {{ user.profile.email }} <br>
        </p>
        <p>
            <strong class="text-dark border-bottom">Address Info</strong> <br>
            {{ address.city }} <br>
            {{ address.area }} <br>
            {{ address.address }} <br>
            Zipcode {{ address.postcode }} <br>
        </p>
        {% else %}
        <p>
            You have not added a billing address yet!
            <strong>
                <a href="{% url 'users:address' %}" class="btn btn-sm btn-outline-info ml-10">Add a billing address
                </a>
            </strong>
        </p>
        {% endif %}
    </div>
    <div class="row mt-20">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Delivery Address</h4>
                <a  href="#" 
                    class="text-info mr-20" 
                    hx-target="#profile_dashboard_body"
                    hx-get="{% url 'users:update_delivery_addr' %}" 
                    hx-swap="outerHTML"
                >
                    <i class="fas fa-pen"></i> Update
                </a>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        {% if deli_address %}
        <p>
        <strong class="text-dark border-bottom">Personal Info</strong> <br>
           {{ deli_address.name }}<br>
           {{ deli_address.phone }} <br>
           {{ user.profile.email }} <br>
        </p>
        <p>
            <strong class="text-dark border-bottom">Address Info</strong> <br>
            {{ deli_address.city }} <br>
            {{ deli_address.area }} <br>
            {{ deli_address.address }} <br>
            Zipcode {{ deli_address.postcode }} <br>
        </p>
        {% else %}
        <p>
            You have not added a delivery address yet!
            <strong>
                <a 
                    href="#" 
                    class="text-info mr-20" 
                    hx-target="#profile_dashboard_body"
                    hx-get="{% url 'users:update_delivery_addr' %}" 
                    hx-swap="outerHTML"
                    class="btn btn-sm btn-outline-info ml-10">Add a delivery address
                </a>
            </strong>
        </p>
        {% endif %}
    </div>
</div>

<a  href="#" 
    id="dashboard_link"
    class="list-group-item list-group-item-action"
    hx-get="{% url 'users:dashboard' %}"
    hx-target="#profile_dashboard_body"
    hx-push-url="true"
    hx-swap="outerHTML swap:.3s"
    hx-swap-oob="true"
>
    Dashboard
</a>
<a  href="#"
    id="orders_link"
    hx-get="{% url 'users:orders' %}"
    hx-target="#profile_dashboard_body"
    hx-swap="outerHTML swap:.3s"
    hx-class="active"
    hx-push-url="true"
    hx-swap-oob="true"
    class="list-group-item list-group-item-action"
>
    My Orders
</a>
<a  href="#"
    id="reviews_link"
    hx-get="{% url 'users:reviews' %}"
    hx-target="#profile_dashboard_body"
    hx-swap="outerHTML swap:.3s"
    hx-push-url="true"
    class="list-group-item list-group-item-action"
    hx-swap-oob="true"
>
    My Reviews
</a>
<a  href="#"
    id="subscription_link"
    hx-get="{% url 'users:subscription' %}"
    hx-target="#profile_dashboard_body"
    hx-swap="outerHTML swap:.3s"
    hx-push-url="true"
    hx-swap-oob="true"
    class="list-group-item list-group-item-action"
>
    My Subscription
</a>
<a  href="#"
    id="address_link"
    hx-get="{% url 'users:address' %}"
    hx-target="#profile_dashboard_body"
    hx-swap="outerHTML swap:.3s"
    hx-push-url="true"
    hx-swap-oob="true"
    class="list-group-item list-group-item-action active"
>
    Manage Addresses
</a>
<a  href="#"
    id="settings_link"
    hx-get="{% url 'users:settings' %}"
    hx-target="#profile_dashboard_body"
    hx-swap="outerHTML swap:.3s"
    hx-push-url="true"
    hx-swap-oob="true"
    class="list-group-item list-group-item-action"
>
    Settings
</a>