{% load crispy_forms_tags %}
<div id="profile_dashboard_body" class="card-body">
    <div class="row">
        <div class="col-md-12">
            <h4>Update Shipping Address</h4>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form action="{% url 'users:update_delivery_addr' %}" method="post">
                {% csrf_token %}
                {{ form| crispy }}
                <div class="text-center">
                    <button class="btn btn-lg btn-dark">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>