{% extends 'base.html' %}
{% load static %}

{% block title %} Cart Summary {% endblock title %}

{% block content %}
<main class="pt-120">
   <div class="container">
    <div class="cart-area pt-120 pb-110">
       <div class="container">
          <div class="row">
             <div class="col-12">
                      <div class="table-content table-responsive">
                         <table class="table">
                               <thead>
                                  <tr>
                                     <th class="product-thumbnail">Images</th>
                                     <th class="cart-product-name">Product</th>
                                     <th class="product-price">Unit Price</th>
                                     <th class="product-quantity">Quantity</th>
                                     <th class="product-subtotal">Total</th>
                                     <th class="product-remove">Remove</th>
                                  </tr>
                               </thead>
                               <tbody>
                                 {% if cart.get_all_cart_item %}
                                 {% for item in cart.get_all_cart_item %}
                                  <tr>
                                     <td class="product-thumbnail">
                                        <a href="{{ item.product.get_absolute_url }}">
                                           <img src="{{ item.product.get_featured_img }}" alt="{{ item.product.title }}">
                                        </a>
                                     </td>
                                       <td class="product-name">
                                          <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }} </a>
                                       </td>
                                     <td class="product-price"><span class="amount">${{ item.product.get_product_price }}</span></td>
                                     <td class="product-quantity">
                                           <div class="cart-plus-minus cdcart-plus-minus">
                                              <input
                                                id="qty_{{ forloop.counter }}"
                                                type="text" 
                                                value="{{ item.quantity }}"
                                              >
                                              <div class="dec qtybutton">-</div>
                                              <div class="inc qtybutton">+</div>
                                          </div>
                                     </td>
                                     <td class="product-subtotal">
                                        <span class="amount">${{ item.get_product_discount_price }}</span>
                                     </td>
                                     <td class="product-remove">
                                        <a href="{% url 'cart:remove_from_cart' product_id=item.product.id %}"><i class="fa fa-times"></i></a>
                                    </td>
                                  </tr>
                                 {% endfor %}
                                  {% else %}
                                  <tr>
                                    <td colspan="6">
                                       <p class="alert alert-secondary">There is no items in your cart.</p>
                                    </td>
                                  </tr>
                                  {% endif %}
                               </tbody>
                         </table>
                      </div>
                      {% if cart.get_all_cart_item %}
                      <div class="row">
                         <div class="col-12">
                               <div class="coupon-all">
                                  <div class="coupon2">
                                    <form action="{% url 'cart:update_cart' %}" method="post">
                                       {% csrf_token %}
                                       {% if cart.get_all_cart_item %}
                                          {% for item in cart.get_all_cart_item %}
                                             <input type="hidden" name="{{ item.product.id }}" value="{{ item.product.id }}">
                                             <input 
                                                id="cart_item_qt_hid{{ forloop.counter }}" 
                                                type="hidden" name="quantity_{{ forloop.counter }}" 
                                                value="{{ item.quantity }}"
                                             > 
                                          {% endfor %}
                                       {% endif %}
                                       <button class="tp-btn-square-lg" name="update_cart" type="submit">Update cart</button>
                                    </form>
                                    </div>
                                    <div class="coupon2 mx-3">
                                    <form action="{% url 'cart:clear_cart' %}" method="post">
                                       {% csrf_token %}
                                       <button class="tp-btn-square-lg bg-secondary text-white" name="update_cart" type="submit">Clear cart</button>
                                    </form>
                                    </div>
                               </div>
                         </div>
                      </div>
                      <div class="row justify-content-end">
                         <div class="col-md-5">
                               <div class="cart-page-total">
                                  <h2>Cart total</h2>
                                  <ul class="mb-20">
                                     <li>Subtotal <span>${{ cart.get_total_regular_price }}</span></li>
                                     <li>Discount <span class="text-danger">- ${{ cart.get_total_discount }}</span></li>
                                     <li>Total <span class="text-success">${{ cart.get_final_price}}</span></li>
                                  </ul>
                                  <div class="checkout_btn d-flex justify-content-center">
                                     <a class="tp-btn-square-lg" href="{% url 'checkout:checkout' %}"> checkout</a>
                                  </div>
                               </div>
                         </div>
                      </div>
                      {% endif %}
             </div>
          </div>
       </div>
    </div>
   </div>
 </main>
 <script>
   document.addEventListener("DOMContentLoaded", function() {
       var qtybutton = document.querySelectorAll(".qtybutton");
       for (var i = 0; i < qtybutton.length; i++) {
         qtybutton[i].addEventListener("click", function(e) {
            var get_qty_elem = this.parentElement.querySelector("input");
            let id_counter = get_qty_elem.id.split("_")[1];
            let set_qty_elem = document.getElementById("cart_item_qt_hid" + id_counter);
            set_qty_elem.value = get_qty_elem.value;
          });
       }
    });
</script>
{% endblock content %}