{% extends 'base.html' %}
{% load static %}

{% block title %}Fitster Shop{% endblock title %}

{% block content %}
<main class="pt-120">
    <div class="product_area pt-120 pb-110">
      <div class="container custome-container">
        <div class="row">
          <div class="col-lg-4">
            <div class="product_sidebar">
              <div class="product_sidebar-widget mb-30">
                <div class="product_sidebar-inner">
                  <div class="sidebar__search-2">
                    <form 
                      hx-get="{% url 'products:search' %}"
                      hx-target="#product_list"
                      hx-indicator=".htmx-indicator"
                      hx-swap="outerHTML swap:.2s"
                      hx-push-url="true"
                    >
                      <div class="sidebar__search-input-2">
                        <input type="search" placeholder="Search..." name="q" />
                        <button type="submit">
                          <i class="far fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="product_sidebar-widget mb-30">
                <h5 class="products_widget_title mb-25">
                  <i class="far fa-circle"></i> Category
                </h5>
                <ul class="product-catagory_list">
                  <li>
                    <a href="#">Cardio Therapy</a>
                    <a href="#">(07)</a>
                  </li>
                  <li>
                    <a href="#">Beauty & Spa</a>
                    <a href="#">(12)</a>
                  </li>
                </ul>
              </div>
              <div class="product_sidebar-widget mb-30">
                <h5 class="products_widget_title mb-25">
                  <i class="far fa-circle"></i> Price Filter
                </h5>
                <div class="price__slider">
                  <div
                    id="slider-range"
                    class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                  >
                    <div
                      class="ui-slider-range ui-corner-all ui-widget-header"
                      style="left: 0%; width: 100%"
                    ></div>
                    <span
                      tabindex="0"
                      class="ui-slider-handle ui-corner-all ui-state-default"
                      style="left: 0%"
                    ></span
                    ><span
                      tabindex="0"
                      class="ui-slider-handle ui-corner-all ui-state-default"
                      style="left: 100%"
                    ></span>
                  </div>
                  <div>
                    <form action="#">
                      <input type="text" id="amount" readonly="" />
                      <button type="submit" class="tp-btn-square-lg">
                        Filter <i class="fal fa-chevron-double-right"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-lg-8">
            <div class="product-meta mb-20">
              <div class="search_result">Showing 1–12 of 19 results</div>
              <div class="selection">
                <select
                  name="Short by popularity"
                  id="transport"
                  style="display: none"
                >
                  <option value="01">Short by popularity</option>
                  <option value="01">Price</option>
                </select>
              </div>
            </div>
            <div id="product_list">
              {% include "_partials/product_list.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>  
{% endblock content %}